@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  background: #ecfdf35c;
  font-family: "Tajawal", serif;
  color: #858585;
}

ul {
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Zain", serif;
}
a {
  font-weight: bold;
  color: #14573a;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
p,
span {
  color: #000;
}

section {
  opacity: 0;
  transform: translateY(200px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

section.show_section {
  opacity: 1;
  transform: translateY(0);
}
section.show_section p {
  font-size: 19px;
}

.upper-page {
  background-position: center !important;
  background-size: cover !important;
}

.upper-page .overlay {
  padding: 180px 0px;
  text-align: center;
  background: #14573a91;
  color: #fff;
}
.upper-page .overlay span {
  color: #fff;
}

.upper-page a {
  color: #fff;
}

.upper-page h2 {
  font-size: 85px;
  font-weight: 100;
  margin-top: 19px;
}

.btn-main-color {
  background: #14573a;
  color: #fff !important;
  font-weight: 500;
  padding: 10px 23px !important;
  border-radius: 55px;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .btn-secondary-color:hover,
  .btn-main-color:hover,
  .help:hover,
  nav a:hover {
    animation: hover-btn 0.5s 1 linear;
  }
}
@media screen and (max-width: 1110px) {
  nav .my-nav-link a:hover {
    transform: translateX(-10px);
    animation: none;
  }
}

/*********************************************/
/******************* Navbar ******************/

nav {
  display: flex;
  justify-content: center;
  z-index: 1000;
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  margin-right: 1rem;
}
.nav-header .navbar-brand img {
  width: 50px;
  filter: brightness(0) invert(1);
}
.burger {
  font-size: 2.5rem;
  color: #14573a;
  background: transparent;
  border-color: transparent;
  transition: 0.5s;
  cursor: pointer;
}

.links a {
  font-size: 1.3rem;
  display: block;
  padding: 0.5rem;
  transition: 0.5s;
  color: #fff;
}

.links {
  height: 0;
  overflow: hidden;
  transition: 0.5s;
}
.show-links {
  height: 20rem;
}

.nav-center {
  z-index: 50000;
  position: fixed;
  font-weight: bold;
  box-shadow: 0 5px 15px #0000001a;
  background-image: linear-gradient(180deg, #2d2926cc 0%, #8a8d8f75 100%);
  border-radius: 0 0 20px 20px;
  width: 100vw;
  padding: 5px;
  transition: 0.5s;
}
.nav-button {
  display: flex;
  gap: 8px;
  margin-right: 15px;
}
.nav-button .btn-register,
.nav-button .btn-login {
  padding: 7px 8px;
  border-radius: 20px;
  margin: 0;
}

.nav-button .btn-login {
  color: rgb(255, 255, 255);
  background: rgb(20, 87, 58);
}
.nav-button .btn-register {
  background: #ecfdf3;
  color: #14573a;
}

.burger {
  position: relative;
  width: 25px;
  height: 20px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #000;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 55%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-50%);
}

.burger input:checked ~ span:nth-of-type(1) {
  top: 0;
  left: 5px;
  transform: rotate(405deg);
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  top: 18px;
  left: 5px;
  transform: rotate(-405deg);
}

.nav-center.transparent {
  background-image: linear-gradient(180deg, #2d2926cc 0%, #8a8d8f75 100%);
}
.nav-center.scrolled {
  background: #fff !important;
}

.nav-header .navbar-brand img.logo-white {
  filter: brightness(0) invert(1);
}
.nav-header .navbar-brand img.logo-green {
  filter: inherit;
}
.my-nav-link > a.white {
  color: #fff;
}
.my-nav-link > a.green {
  color: #14573a;
}

@media screen and (min-width: 1110px) {
  .links {
    overflow: visible;
  }
  .nav-center {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .burger {
    display: none;
  }
  .links {
    height: 50px;
    display: flex;
    align-items: center;
    margin: 0;
  }
}

@media screen and (max-width: 1110px) {
  .links {
    margin-top: -20px;
  }
  .my_mt {
    margin-top: 20px;
  }
  .fix_drop {
    inset: 100px auto auto auto !important;
  }
}
@media screen and (max-width: 768px) {
  .nav-header .navbar-brand img {
    width: 30px;
  }
}

ul.dropdown-menu {
  background: #ecfdf3;
}
ul.dropdown-menu::before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  top: -10px;
  left: 50%;
  margin-left: -10px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #ecfdf3 transparent;
}

ul.dropdown-menu a {
  margin: 3px 0;
  color: #14573a;
}
ul.dropdown-menu a:hover {
  transform: translateX(0);
  background-color: #14573a;
  color: #fff;
}

/******************* Navbar ******************/
/*********************************************/

/******************* help ******************/
/*********************************************/

.help {
  position: fixed;
  left: 10px;
  bottom: 10px;
  background: #14573a;
  padding: 10px;
  z-index: 999;
  border-radius: 10px;
}

.help a {
  text-decoration: none;
  color: #fff;
}
.help a span {
  color: #fff;
}

/******************* help ******************/
/*********************************************/

/******************* about ******************/
/*********************************************/
.about .row {
  justify-content: center;
}

/******************* about ******************/
/*********************************************/

/******************* swiper video ******************/
/*********************************************/

.video-container {
  width: 80%;
  margin: 150px auto;
  transition: 0.5s;
}

@media screen and (min-width: 768px) {
  .video-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
  }

  .video-dec {
    margin-top: 50px;
  }
}

.video-dec {
  color: #14573a;
  font-size: 25px;
  font-weight: 500;
}

.video-container iframe {
  width: 70%;
  height: 30vw;
  border: none;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .video-container iframe {
    width: 100%;
    height: 250px;
    border: none;
  }
}

.video-container #main-video {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.fade-out {
  opacity: 0 !important;
}

.swiper-container-video {
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
}

.swiper-container-video .swiper-slide {
  cursor: pointer;
}

.swiper-container-video .swiper-slide img {
  width: 100%;
  height: 160px;
  border-radius: 8px;
}

/* شريط التقدم */
.progress-bar-video .progress-bar-container {
  width: 80%;
  height: 6px;
  background: #ddd;
  margin: 10px 20px;
  border-radius: 5px;
  position: relative;
}

/* المؤشر الصغير */
.progress-bar-video .progress-indicator {
  position: absolute;
  width: 30px;
  height: 6px;
  background: #14573a;
  border-radius: 5px;
  transition: left 0.3s ease-in-out;
  left: 0%;
}

.progress-bar-video {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.swiper-button-video {
  position: relative;
  width: 25px;
  top: 10px;
  height: 25px;
  background-color: #14573a;
  color: #fff;
  border-radius: 50%;
  padding: 15px;
  transition: 0.5s;
  border: 2px solid #14573a;
}

.swiper-button-video:hover {
  background-color: #ecfdf3;
  color: #14573a;
}

.swiper-button-video::after {
  font-size: 25px;
}

.progress-bar-video .swiper-button-prev:after,
.progress-bar-video .swiper-rtl .swiper-button-next:after {
  content: "\2190";
  position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.progress-bar-video .swiper-button-next:after,
.progress-bar-video .swiper-rtl .swiper-button-prev:after {
  content: "\2192";
  position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/******************* swiper video ******************/
/*********************************************/

#myVideo {
  /* height: 100vh; */
  width: 100%;
}

.header-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  text-align: center;
  font-size: 38px;
  color: #fff;
  font-size: 25px;
}

.header-logo img {
  width: 200px;
  display: block;
  margin: auto;
}

.card {
  padding: 40px;
  border-radius: 20px;
  margin-bottom: 30px;
  background: #ffffffa6;
  border: 1px solid #0000002d;
  transition: 0.5s;
}
.card:hover {
  scale: 1.03;
}

.real-estate-developer a {
  transition: 0.5s;
}
.real-estate-developer a:hover {
  color: rgb(255, 255, 255) !important;
  background: rgb(20, 87, 58) !important;
}

.section-2 .box {
  padding: 40px;
  border-radius: 20px;
  margin-bottom: 30px;
}

.section-2 strong {
  font-family: "Rubik", serif;
  font-size: 50px;
  color: #14573a;
  font-weight: 100;
}

.section-2 h4 {
  display: inline-block;
  width: 172px;
  margin-right: 16px;
  color: #14573a;
}

.section-2 span {
  text-align: center;
  display: block;
}

.section-2 h3 {
  text-align: center;
  max-width: 682px;
  display: table;
  margin: 20px auto 54px auto;
  color: #14573a;
  font-weight: 400;
}

.section-2 p {
  margin-top: 17px;
  margin-bottom: 0rem;
  color: #75689a;
}
.section-2 i {
  background: #ecfdf3;
  width: 80px;
  height: 75px;
  font-size: 40px;
  text-align: center;
  padding: 17px;
  color: #14573a;
  border-radius: 10px;
}

/**********************************************/
/************** About Seaction ****************/

.about .vision h4 {
  padding: 30px 0px;
  font-size: 41px;
  color: #14573a;
}

.about .vision p {
  font-size: 21px;
}

.about img {
  border-radius: 30px;
}

.about {
  padding: 50px 0px 0px 0px;
}

.title-vision {
  padding: 10px 33px !important;
  font-size: 32px;
}

.about,
.about .row {
  padding: 100px 0px;
}
.about .king h2 {
  font-size: 47px;
  margin-bottom: 30px;
}

.about .king p {
  font-size: 24px;
  color: #000;
}

.about-section-2 p {
  font-size: 23px;
  color: #000;
  padding: 25px 0px 0px 58px;
}

.about-section-2 h2 {
  font-size: 50px;
}

.about .king h5 {
  font-size: 31px;
}

.about .king span {
  cursor: pointer;
}

.about span {
  font-size: 20px;
  cursor: pointer;
}
/************** About Seaction ****************/
/**********************************************/

/**************************************************/
/************** real-estate-developer *************/
.real-estate-developer {
  padding: 100px 0px;
  margin: 100px 0px;
  background: #ffffff;
  border: 1px solid #0000002d;
  text-align: center;
}
.real-estate-developer img {
  vertical-align: middle;
  width: 140px !important;
  padding: 20px;
  /*filter: grayscale(100%);*/
  height: 140px;
}

.real-estate-developer h4 {
  text-align: center;
  max-width: 682px;
  display: table;
  margin: 20px auto 54px auto;
  color: #75689a;
  font-weight: 400;
}
.owl-nav {
  display: none !important;
}

.btn-secondary-color {
  padding: 11px 33px !important;
  background: #ecfdf3 !important;
  color: #14573a !important;
  font-weight: 600;
  text-decoration: none;
  border-radius: 39px;
}

.real-estate-developer a i {
  /* transform: rotate(268deg); */
  margin-right: 20px;
  font-weight: 600;
}
/************** real-estate-developer *************/
/**************************************************/

/**************************************************/
/******************** testimonials ****************/

.testimonials {
  background: none;
}

.testimonials img {
  border-radius: 30px;
}

.testimonials p {
  font-size: 20px;
}

.testimonials blockquote {
  margin: 0 0 1rem;
  border-radius: 23px;
  background: #ffffffa6;
  padding: 29px;
  border: 1px solid #0000002d;
  position: relative;
}

.testimonials .fa-quote-left {
  font-size: 80px;
  position: absolute;
  color: #dceee3;
  right: 20px;
  bottom: -2px;
}

.testimonials .owl-carousel .owl-item img {
  display: block;
  width: 100%;
  margin: auto;
}

.testimonials .owl-carousel .owl-item .KFU_logo {
  height: 100px;
  width: 189px;
  margin-top: 23px;
}

.owl-carousel i {
  color: #ffc107;
}
/******************** testimonials ****************/
/**************************************************/

/**************************************************/
/*********************** contact ******************/

.contact {
  padding: 100px 0px;
}

.contact .info i {
  background: #ecfdf3;
  width: 65px;
  height: 62px;
  font-size: 28px;
  text-align: center;
  padding: 17px;
  color: #14573a;
  border-radius: 10px;
  margin-left: 25px;
}

.contact .info strong {
  display: block;
  font-weight: 500;
  margin-top: 5px;
}

.contact .info a {
  font-weight: 500;
  color: #14573a;
  text-decoration: none;
  font-size: 20px;
}

.contact .info {
  padding: 90px;
}

.contact input,
.contact select,
.contact textarea {
  display: block;
  width: 100%;
  border-style: none !important;
  /* background: #ecfdf3; */
  border: 1px solid #0000002d !important;
  margin-bottom: 30px;
  border-radius: 13px;
  outline: none;
  padding: 12px 20px;
}

textarea {
  display: block;
  width: 100%;
  border-style: none !important;
  /* background: #ecfdf3; */
  border: 1px solid #0000002d !important;
  margin-bottom: 30px;
  border-radius: 13px;
  outline: none;
  padding: 12px 20px;
}

/*********************** contact ******************/
/**************************************************/

@media (max-width: 575.98px) {
  .about {
    padding: 0px 0px 100px 0px;
  }
  .about img {
    display: none;
  }

  .about .vision {
    font-size: 15px;
    padding: 16px;
  }
  .about p {
    font-size: 14px;
  }
  .about h3 {
    font-size: 18px;
  }
  .section-2 h3 {
    font-size: 18px;
  }
  .section-2 p {
    font-size: 14px;
  }
  .section-2 i {
    width: 50px;
    height: 50px;
    font-size: 21px;
    padding: 15px;
  }
  .section-2 strong {
    font-family: "Rubik", serif;
    font-size: 32px;
  }
  .section-2 h4 {
    margin-right: 16px;
    font-size: 15px;
    text-align: none;
  }
  .real-estate-developer h4 {
    font-size: 16px;
  }
  .real-estate-developer img {
    width: 117px !important;
    height: 103px;
  }
  .btn-secondary-color {
    font-size: 14px;
    padding: 9px 16px;
  }
  .testimonials .fa-quote-left {
    font-size: 45px;
  }
  .real-estate-developer {
    padding: 44px 0px;
    margin: 26px 0px;
  }
  #myVideo {
    margin-top: 62px;
  }

  .section-2 .box {
    padding: 20px;
  }
  .section-2 i {
    width: 60px;
    height: 60px;
    font-size: 29px;
  }
  .navbar {
    width: 100%;
    padding: 0px;
    top: 0px;
    display: block;
  }

  .navbar .auth a {
    margin-bottom: 20px;
  }

  .navbar img {
    width: 48px;
  }
  .header-logo {
    top: 25%;
  }
  .header-logo img {
    width: 100px;
  }

  .title-vision {
    padding: 5px 22px !important;
    font-size: 24px;
  }
  .about .vision h4 {
    font-size: 27px;
  }
  .about .vision p {
    font-size: 16px;
  }
  .about,
  .about .row {
    padding: 40px 0px;
  }
  .acounts {
    padding: 0px 0px;
  }
  .card {
    padding: 20px;
  }
  .acounts .cards .card {
    padding: 15px;
  }
  .acounts .card strong {
    font-size: 15px;
  }
  .acounts .btn-secondary-color {
    padding: 8px 12px !important;
  }
  .acounts .btn-main-color {
    padding: 7px 15px !important;
  }
  .acounts .cards .card {
    padding: 14px;
  }
  .acounts .card strong {
    font-size: 16px;
  }
  .acounts .card i {
    font-size: 23px;
    margin-top: 15px;
  }
  .acounts {
    padding: 0px 0px;
  }
  .testimonials h2 {
    margin: 35px;
  }
  .footer {
    text-align: center;
  }
  .footer .desc {
    display: none;
  }
  .footer .fa-arrow-left-long {
    display: none;
  }
  .footer .FlexBox a {
    font-size: 20px !important;
    letter-spacing: 1px;
    font-weight: 500;
    text-align: center;
  }
  .footer .FlexBox {
    display: flex;
    margin-top: 20px;
  }
  .footer .center-data {
    display: table;
    margin: auto;
  }

  .upper-page .overlay {
    padding: 80px 0px;
  }
  .upper-page h2 {
    font-size: 41px;
    font-weight: 400;
  }
  .about .king h2 {
    font-size: 30px;
  }
  .about .king p {
    font-size: 19px;
  }
  .about .king h5 {
    font-size: 25px;
  }
  .about span {
    font-size: 14px;
    cursor: pointer;
  }
  .about-section-2 p {
    padding: 25px 0px 0px 0px;
  }
  .about img {
    display: block;
  }
  .about-section-2 h2 {
    font-size: 32px;
  }
  .contact .info {
    padding: 0px !important;
  }
  .contact .info i {
    width: 55px;
    height: 52px;
    font-size: 23px;
    padding: 14px;
  }
  .contact .info strong {
    margin-top: 0px;
  }
  .contact .info a {
    font-size: 18px;
  }
  .about-section-2 p {
    padding: 6px 0px 0px 0px;
  }
  .footer {
    margin-top: 0px !important;
  }
  #myVideo {
    margin-top: 0px;
  }
  .testimonials .KFU_logo {
    width: 149px;
    height: 83px;
    margin-top: 11px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .about {
    padding: 0px 0px 100px 0px;
  }
  .about img {
    display: none;
  }
  .about .vision {
    font-size: 22px;
    padding: 20px;
  }
  .section-2 .box {
    padding: 20px;
  }
  .section-2 i {
    width: 60px;
    height: 60px;
    font-size: 29px;
  }
  .navbar {
    width: 100%;
    padding: 0px;
    top: 0px;
    display: block;
  }
  .navbar img {
    width: 48px;
  }
  .header-logo {
    top: 50%;
  }
  .header-logo img {
    width: 100px;
  }

  .title-vision {
    padding: 5px 22px !important;
    font-size: 24px;
  }
  .about .vision h4 {
    font-size: 27px;
  }
  .about .vision p {
    font-size: 16px;
  }
  .about,
  .about .row {
    padding: 40px 0px;
  }
  .acounts {
    padding: 0px 0px !important;
  }
  .card {
    padding: 20px;
  }
  .acounts .cards .card {
    padding: 15px;
  }
  .acounts .card strong {
    font-size: 15px;
  }
  .acounts .btn-secondary-color {
    padding: 8px 12px !important;
  }
  .acounts .btn-main-color {
    padding: 7px 15px !important;
  }
  .acounts .cards .card {
    padding: 14px;
  }
  .acounts .card strong {
    font-size: 16px;
  }
  .acounts .card i {
    font-size: 23px;
    margin-top: 15px;
  }
  .acounts {
    padding: 0px 0px;
  }
  .testimonials h2 {
    margin: 35px;
  }
  .footer {
    text-align: center;
  }
  .footer .desc {
    display: none;
  }
  .footer .fa-arrow-left-long {
    display: none;
  }
  .footer .FlexBox a {
    font-size: 20px !important;
    letter-spacing: 1px;
    font-weight: 500;
    text-align: center;
  }
  .footer .FlexBox {
    display: flex;
    margin-top: 70px;
  }
  .footer .center-data {
    display: table;
    margin: auto;
  }

  .upper-page .overlay {
    padding: 80px 0px;
    /* margin-top: 54px; */
  }
  .upper-page h2 {
    font-size: 41px;
    font-weight: 400;
  }
  .about .king h2 {
    font-size: 30px;
  }
  .about .king p {
    font-size: 19px;
  }
  .about .king h5 {
    font-size: 25px;
  }
  .about span {
    font-size: 14px;
    cursor: pointer;
  }
  .about-section-2 p {
    padding: 25px 0px 0px 0px;
  }
  .about img {
    display: block;
  }
  .about-section-2 h2 {
    font-size: 32px;
  }
  .contact .info {
    padding: 0px !important;
  }
  .contact .info i {
    width: 55px;
    height: 52px;
    font-size: 23px;
    padding: 14px;
  }
  .contact .info strong {
    margin-top: 0px;
  }
  .contact .info a {
    font-size: 18px;
  }
  .about-section-2 p {
    padding: 6px 0px 0px 0px;
  }
  .footer {
    margin-top: 0px;
  }
  .about-section-2 p {
    font-size: 17px;
    padding: 17px 0px 0px 0px !important;
  }
  /* .upper-page .overlay {
    margin-top: 39px;
  } */
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .about {
    padding: 0px 0px 0px 0px;
  }
  .about img {
    margin-top: 111px;
  }
  .about .vision {
    font-size: 22px;
    padding: 20px;
  }
  .section-2 .box {
    padding: 20px;
  }
  .section-2 i {
    width: 60px;
    height: 60px;
    font-size: 29px;
  }
  .navbar {
    width: 100%;
    padding: 0px;
    top: 0px;
    display: block;
  }
  .navbar img {
    width: 48px;
  }
  .header-logo img {
    width: 100px;
  }

  .acounts {
    padding: 0px 0px !important;
  }
  .footer .desc {
    display: none;
  }

  .upper-page .overlay {
    padding: 80px 0px;
    /* margin-top: 54px; */
  }
  .upper-page h2 {
    font-size: 41px;
    font-weight: 400;
  }
  .about .king h2 {
    font-size: 30px;
  }
  .about .king p {
    font-size: 19px;
  }
  .about .king h5 {
    font-size: 25px;
  }
  .about span {
    font-size: 14px;
    cursor: pointer;
  }
  .about-section-2 p {
    padding: 25px 0px 0px 0px;
  }
  .about img {
    display: block;
  }
  .about-section-2 h2 {
    font-size: 32px;
  }
  .contact .info {
    padding: 0px !important;
  }
  .contact .info i {
    width: 55px;
    height: 52px;
    font-size: 23px;
    padding: 14px;
  }
  .contact .info strong {
    margin-top: 0px;
  }
  .contact .info a {
    font-size: 18px;
  }
  .about img {
    margin-top: 19px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .navbar {
    width: 100%;
    right: 0px;
    top: 0px;
  }
  .about .vision h4 {
    padding: 20px 0px;
    font-size: 28px;
  }
  .about .vision p {
    font-size: 16px;
  }
  .acounts {
    padding: 0px 0px !important;
  }
  .acounts .cards .card {
    padding: 20px;
  }
  .footer .desc {
    display: none;
  }
  .acounts .card strong {
    font-size: 18px;
  }
  .acounts .card i {
    font-size: 25px;
    margin-top: 10px;
  }

  .upper-page .overlay {
    padding: 106px 0px;
  }

  .about .king h2 {
    font-size: 38px;
  }
  .about .king p {
    font-size: 19px;
  }
  .about .king h5 {
    font-size: 26px;
  }
  .about-section-2 p {
    font-size: 19px;
    padding: 8px 0px 0px 0px;
  }
  .navbar {
    width: 100%;
    padding: 0px;
    top: 0px;
    display: block;
  }
}

.FlexBox {
  display: flex;
}

.main-color {
  color: #14573a;
}

.card:hover {
  box-shadow: 0px 3px 20px 0px #14573a4a;
}

/***********************************************/
/****************** Header *********************/
.header .overlay {
  padding: 172px 0px 132px 0px;
}

.header h2 .element {
  color: #000000;
  font-weight: 800;
  display: inline-block;
}
/****************** Header *********************/
/***********************************************/

/***********************************************/
/****************** acounts ********************/
/*.acounts  {*/
/*    padding: 150px 0px;*/
/*}*/

.acounts .card i {
  color: #14573a;
  font-size: 30px;
  margin-top: 10px;
}

.acounts img {
  margin-bottom: 20px;
  border-radius: 20px;
}

.acounts .card strong {
  font-size: 20px;
}

.acounts .cards .card {
  padding: 25px;
}

.acounts .cards {
  margin-top: 75px;
}

.acounts .first-span {
  display: block;
  font-size: 22px;
  text-align: center;
}

.acounts h3 {
  text-align: center;
  max-width: 682px;
  display: table;
  margin: 20px auto 54px auto;
  color: #14573a;
  font-weight: 400;
  font-size: 21px;
}

.acounts .cards .card {
  padding: 15px;
}

.acounts .card strong {
  font-size: 16px;
}

.acounts .card i {
  color: #14573a;
  font-size: 21px;
  margin-top: 15px;
}

/****************** acounts ********************/
/***********************************************/

/***********************************************/
/******************** Cover ********************/
.cover {
  background: url(https://ruh-s3.bluvalt.com/api-nhc.sa/s3fs-public/2024-11/background-image_02-2560x1600_2.png);
  background-position: top !important;
  background-size: cover !important;
}

.cover .overlay {
  padding: 100px;
  text-align: center;
  background: #fff1b1;
}
/******************** Cover ********************/
/***********************************************/

/***********************************************/
/******************* Footer ********************/

.footer {
  padding: 25px 0px 24px 0px;
  margin-top: 100px;
  color: #f3f3f3;
  background-image: linear-gradient(180deg, #14573a 0%, #ecfdf3 100%);
  font-weight: bold;
  position: relative;
  z-index: 10000;
}

.footer p {
  font-size: 14px;
}

.footer ul li {
  list-style: none;
}
.footer h6 {
  color: #14573a;
}

.footer ul li a {
  font-weight: 400;
  color: #14573a;
  text-decoration: none;
  transition: 0.5s;
}
.footer ul li a:hover {
  color: #fff;
}

.footer ul li a i {
  margin-left: 10px;
  font-weight: 500;
}
.footer .FlexBox span {
  color: #fff;
}

.footer .FlexBox i {
  width: 70px;
  background: #faebd7a6;
  height: 50px;
  border-radius: 38px;
  text-align: center;
  border: 1px dashed;
  padding: 14px;
  font-size: 18px;
  color: #14573a;
  margin: 0px 0px 0px 15px;
}

.footer .FlexBox a {
  display: block;
  font-size: 20px;
  text-decoration: none;
  color: #14573a;
  letter-spacing: 1px;
  font-family: "Lato", serif;
}
.footer .FlexBox a:hover {
  color: #fff;
}

.footer .copyright {
  color: black;
}

.footer .media a {
  padding: 10px;
  color: #14573a;
  font-size: 25px;
  color: #000;
}
/******************* Footer ********************/
/***********************************************/
.con_soc {
  display: flex;
  gap: 10px;
}

.faq-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: #faebd7a6;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.151);
  position: relative;
}
@media screen and (max-width: 780px) {
  .con_soc {
    justify-content: center;
  }

  .faq-button {
    width: 35px;
    height: 35px;
  }
}
.faq-button:hover {
  animation: jello-vertical 1s both;
  background-color: #fff;
}

.tooltip {
  position: absolute;
  top: -20px;
  opacity: 0;
  color: white;
  padding: 5px 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.2s;
  pointer-events: none;
}
.tooltip::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: inherit;
  background-size: 1000%;
  background-position: center;
  transform: rotate(45deg);
  bottom: -15%;
}
.faq-button:hover .tooltip {
  top: -40px;
  opacity: 1;
  transition-duration: 0.3s;
}

@keyframes jello-vertical {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes hover-btn {
  0% {
    transform: scale(0.99, 1.1);
  }

  25% {
    transform: scale(1.1, 0.99);
  }

  50% {
    transform: scale(0.99, 1.1);
  }

  75% {
    transform: scale(1.1, 0.99);
  }

  100% {
    transform: scale(1, 1);
  }
}
